<form method='post'>
<input style='display: none;' type='text' value='{$id}' name='id'><br>
image: <img src='{$image}' style='width:50%'><br><br>
title: <input type='text' name='title' value='{$title}'><br><br>
subtitle: <input type='text' name='subtitle' value='{$subtitle}'><br><br>
text:  <textarea name='text'>{$text}</textarea><br><br>
category: <input type='text' name='category' value='{$category}'>
<input type='submit' value='submit changes'>
<input type='submit' value='delete this post' name='deletepost'>
</form><br>__________________________________________<br><br>
