<form method='post'>
 user name: <input type='text' name='username' placeholder='username' required><br>
 user password: <input type='password'name='password' placeholder='password' required='porkunid'><br>
 <input type='submit' value='login' />
</form>
