<link rel="stylesheet" href="css/nav.css">
<link rel="stylesheet" href="css/master.css">
<ul class="menu">
    <li><a href="index.php">{$home}</a></li>
    <li><a href="#">{$news}</a>
        <ul>
            <li><a style="vertical-align: middle;" href="index.php?category=irannews"> {$irannews}</a></li>
            <li><a href="index.php?category=worldnews"> {$worldnews}</a></li>
            <li><a href="index.php?category=sports">{$sportnews}</a></li>
        </ul>
    </li>
    <li><a href="contact.php"> {$contact}</a></a></li>
    <li><a href="cms.php"> {$login}</a></li>
    <li><a href="aboutus.php">{$about}</a></li>
</ul>
