<form method='post' id='newpost' enctype='multipart/form-data'>
<input type='file' name='image' id='image'>
 title: <input type='text' name='title'><br><br>
 subtitle: <input type='text' name='subtitle'><br><br>
 text:  <textarea name='text'></textarea><br><br>
 category:
   <select name='category' form='newpost'>
{getcategories()}
   </select><input type='submit' value='submit'>
 </form>
