<div class='setting'><form method='post'>your password<span class='error'>*</span>: <input type='password' placeholder='password'></form><br><br>
<div class='changepassword'>changepassword:
<form metod='post'>new password: <input type='password' placeholder='nochange'/><br>
repeatnewpossword: <input type='password' placeholder='nochange'/></form></div>
<div class='addcategory'>categories:<br><form method='post'>
add a category: <input type='text' name='category'>
<input type='submit' value='add'>
</form></div>
