a {
  text-decoration:none;
  color: #2c3e50; // flat midnight blue
}
a:hover {
  color: #2980b9;
  transition: 1s;
}
#comments {
  background-color: #f1c40f;
}
.acomment {
  background-color: #f39c12;
  margin-bottom:10px;

}
.reply {
  background-color: #95a5a6;
  margin:15px;

}
.error {
  color: red;

}
.setting {
  background-color: white;
}
  .changepassword {
    background-color: #bdc3c7;
    margin-bottom: 5px;
  }
  .addcategory {
    background-color: silver;
    margin-bottom: 5px;
  }
.small {
  font-size: 12px;
}
