html {
  background: url(http://80.82.66.167/day/picture/body-bg.gif) 0 0 repeat #333 fixed;
}
.menu{direction:ltr; background-color: #34495e;}
.menu li{display:inline-block; vertical-align: middle;}
.menu li ul{position:absolute;padding:0;visibility:hidden}
.menu li ul li{display:block}
.menu li:hover > ul{margin-bottom: 8px; visibility:visible}
.menu {
  padding: 10px;
  border-radius: 7px;
}
.menu li {
  background-color: #34495e;
  margin-left: 6px;
}
.menu li a {
  vertical-align: middle;
  text-align: center;
}
